<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>

        {{!-- Google Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Caveat|Nunito&display=swap" rel="stylesheet">
        {{!-- Bootstrap --}}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		{{!-- <script src="/assets/js/.js"></script> --}}
	</head>
	<body class="bg-light">
		{{{ body }}}
	</body>
</html>
