<div class="jumbotron" id="title-jumbo">
  <h1 class="display-4 font-weight-bold" id="grand">Eat-Da-Burger</h1>
  <p class="lead" id="subtitle">They're juicy and delicious! Tell us about your burgers. Devour some burgers.</p>
  <hr class="my-4">
</div>


<ul>
  {{#each burgers}}
    <div class="row">{{burger_name}}</div>
  {{/each}}
</ul>

<div class="container bg-light p-2">
    <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <label for="burgertext">Add a Burger!</label>
              <textarea class="form-control" id="burgertext" rows="3" placeholder="Burger Name"></textarea>
            </div>
            <button class="btn btn-primary" id="addburger" type="submit">Add Burger</button>
          </form>
        </div>
    </div>
</div>
