body{
    background-image: url("../img/dark_mosaic_@2X.png");
}
#title-jumbo{
    font-family: 'Caveat', cursive;
    background-image: url("../img/bugerPattern.jpg");
    background-position: center;
    background-size: 100%;
    color: white;
};

#grand{
    font-family: 'Nunito', 'sans-serif';
}

#subtitle{
    font-family: 'Nunito', 'sans-serif';
    color:gray;
};

#subparagraph{
    font-family: 'Nunito', 'sans-serif';
};